<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>controlador.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>controlador.ServletListener</listener-class>
    </listener>
    <context-param>
        <param-name>direccionBase</param-name>
        <param-value>jdbc/personal</param-value>
    </context-param>
    <context-param>
        <param-name>nombreBase</param-name>
        <param-value>personal</param-value>
    </context-param>
    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>admin@personal.com</param-value>
    </context-param>
    <context-param>
        <param-name>adminContrasena</param-name>
        <param-value>123456</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>controlador.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controlador.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarOfertasServlet</servlet-name>
        <servlet-class>controlador.MostrarOfertasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarUsuarioServlet</servlet-name>
        <servlet-class>controlador.BorrarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltroOfertasServlet</servlet-name>
        <servlet-class>controlador.FiltroOfertasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarOfertaServlet</servlet-name>
        <servlet-class>controlador.BorrarOfertaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuarioServlet</servlet-name>
        <servlet-class>controlador.ModificarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InteresadoServlet</servlet-name>
        <servlet-class>controlador.InteresadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirOfertaServlet</servlet-name>
        <servlet-class>controlador.AnadirOfertaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoInteresadoServlet</servlet-name>
        <servlet-class>controlador.NoInteresadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarUsuariosServlet</servlet-name>
        <servlet-class>controlador.MostrarUsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirFotoServlet</servlet-name>
        <servlet-class>controlador.SubirFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarFotoServlet</servlet-name>
        <servlet-class>controlador.MostrarFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MisInteresesServlet</servlet-name>
        <servlet-class>controlador.MisInteresesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarUsuariosInteresadosServlet</servlet-name>
        <servlet-class>controlador.MostrarUsuariosInteresadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltroUsuariosServlet</servlet-name>
        <servlet-class>controlador.FiltroUsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarContrasenaServlet</servlet-name>
        <servlet-class>controlador.CambiarContrasenaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarEstadoServlet</servlet-name>
        <servlet-class>controlador.CambiarEstadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilServlet</servlet-name>
        <servlet-class>controlador.PerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleOfertaServlet</servlet-name>
        <servlet-class>controlador.DetalleOfertaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirCurriculoServlet</servlet-name>
        <servlet-class>controlador.SubirCurriculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerCurriculoServlet</servlet-name>
        <servlet-class>controlador.ObtenerCurriculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InteresesUsuarioServlet</servlet-name>
        <servlet-class>controlador.InteresesUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarOfertaServlet</servlet-name>
        <servlet-class>controlador.ModificarOfertaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCuestionarioServlet</servlet-name>
        <servlet-class>controlador.EditarCuestionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirPreguntaServlet</servlet-name>
        <servlet-class>controlador.AnadirPreguntaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPreguntaServlet</servlet-name>
        <servlet-class>controlador.ModificarPreguntaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPreguntaServlet</servlet-name>
        <servlet-class>controlador.EliminarPreguntaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarCuestionarioServlet</servlet-name>
        <servlet-class>controlador.IniciarCuestionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarRespuestasServlet</servlet-name>
        <servlet-class>controlador.EnviarRespuestasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarRespuestasCuestionarioServlet</servlet-name>
        <servlet-class>controlador.MostrarRespuestasCuestionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirComentarioServlet</servlet-name>
        <servlet-class>controlador.AnadirComentarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarComentariosServlet</servlet-name>
        <servlet-class>controlador.MostrarComentariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarComentarioServlet</servlet-name>
        <servlet-class>controlador.EditarComentarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarComentarioServlet</servlet-name>
        <servlet-class>controlador.EliminarComentarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarOfertasServlet</servlet-name>
        <url-pattern>/MostrarOfertasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarUsuarioServlet</servlet-name>
        <url-pattern>/BorrarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltroOfertasServlet</servlet-name>
        <url-pattern>/FiltroOfertasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarOfertaServlet</servlet-name>
        <url-pattern>/BorrarOfertaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuarioServlet</servlet-name>
        <url-pattern>/ModificarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InteresadoServlet</servlet-name>
        <url-pattern>/InteresadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirOfertaServlet</servlet-name>
        <url-pattern>/AnadirOfertaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoInteresadoServlet</servlet-name>
        <url-pattern>/NoInteresadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarUsuariosServlet</servlet-name>
        <url-pattern>/MostrarUsuariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirFotoServlet</servlet-name>
        <url-pattern>/SubirFotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarFotoServlet</servlet-name>
        <url-pattern>/MostrarFotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisInteresesServlet</servlet-name>
        <url-pattern>/MisInteresesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarUsuariosInteresadosServlet</servlet-name>
        <url-pattern>/MostrarUsuariosInteresadosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltroUsuariosServlet</servlet-name>
        <url-pattern>/FiltroUsuariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarContrasenaServlet</servlet-name>
        <url-pattern>/CambiarContrasenaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarEstadoServlet</servlet-name>
        <url-pattern>/CambiarEstadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilServlet</servlet-name>
        <url-pattern>/PerfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleOfertaServlet</servlet-name>
        <url-pattern>/DetalleOfertaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirCurriculoServlet</servlet-name>
        <url-pattern>/SubirCurriculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerCurriculoServlet</servlet-name>
        <url-pattern>/ObtenerCurriculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InteresesUsuarioServlet</servlet-name>
        <url-pattern>/InteresesUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarOfertaServlet</servlet-name>
        <url-pattern>/ModificarOfertaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCuestionarioServlet</servlet-name>
        <url-pattern>/EditarCuestionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirPreguntaServlet</servlet-name>
        <url-pattern>/AnadirPreguntaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPreguntaServlet</servlet-name>
        <url-pattern>/ModificarPreguntaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPreguntaServlet</servlet-name>
        <url-pattern>/EliminarPreguntaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarCuestionarioServlet</servlet-name>
        <url-pattern>/IniciarCuestionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarRespuestasServlet</servlet-name>
        <url-pattern>/EnviarRespuestasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarRespuestasCuestionarioServlet</servlet-name>
        <url-pattern>/MostrarRespuestasCuestionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirComentarioServlet</servlet-name>
        <url-pattern>/AnadirComentarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarComentariosServlet</servlet-name>
        <url-pattern>/MostrarComentariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarComentarioServlet</servlet-name>
        <url-pattern>/EditarComentarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarComentarioServlet</servlet-name>
        <url-pattern>/EliminarComentarioServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/paginasError/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/paginasError/error500.jsp</location>
    </error-page>
    <resource-ref>
        <description>Base de datos para seleccion de personal</description>
        <res-ref-name>jdbc/personal</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
